<div class="jumbotron">
    <script>
        $().ready(function(){
            $('.jsAddInBasket').click(function(){
                    var productId =$(this).val();

                    $.ajax({
                        url: "product/add-into-basket",
                        type: "POST",

                        data: {productId:productId},
                        success: function (data) {
                            console.log(data.message);
                        }
                    });

//                    $('.showProduct').append(productId);

                    $.ajax({
                        url: "product/status-basket",
                        type: "POST",
                        data: {productId:productId},
                        success: function (data) {

                            $('.basket').empty().append(data);
                        }
                    });

                }
            )



        })

    </script>

    <div class="active row button">
        <div class="showProduct">
            <a>Here ,you can buy product :<a>
            <div>
        <?php

        foreach ($this->product as $key => $value) {

            echo '
              <div class="col-md-4"><ul>
              <li>Name=' . $value->name . '</li>
              <li>Count=' . $value->count . '</li>
              <li>Price=' . $value->price . 'uk</li></ul>
                <img src="' . $this->basePath($value->img) . '" class="img-rounded">
                <button type="submit" name="item" value="'.$value->id.'" class="jsAddInBasket btn btn-default">Add in basket.</button>
                </div>
              ';
        }


        ?>
    </div>

</div>

