<?php
// module/Album/view/album/album/index.phtml:

$title = 'Users';
$this->headTitle($title);
?>
<h1><?php echo $this->escapeHtml($title); ?></h1>
<p>
    <a href="<?php echo $this->url('user', array('action'=>'add'));?>">Add new user</a>
</p>

<table class="table">
    <tr>
        <th>#</th>
        <th>User</th>
        <th></th>
    </tr>
    <?php foreach ($users as $key=>$user) : ?>

        <tr><?php            ?>
            <td><?php echo ++$key;?></td>
            <td><?php echo $this->escapeHtml($user->user);?></td>
<!--            <td>--><?php //echo $this->escapeHtml($user->password);?><!--</td>-->
            <td>
                <a href="<?php echo $this->url('user',
                    array('action'=>'edit', 'id' => $user->id));?>">Edit</a>
                <a href="<?php echo $this->url('user',
                    array('action'=>'delete', 'id' => $user->id));?>">Delete</a>
            </td>
        </tr>
    <?php  endforeach; ?>
</table>
