<?php echo $this->doctype(); ?>

<html lang="en">
<head>
    <meta charset="utf-8">
    <?php echo $this->headTitle('ZF2 ' . $this->translate('Skeleton Application'))->setSeparator(' - ')->setAutoEscape(false) ?>

    <?php echo $this->headMeta()
        ->appendName('viewport', 'width=device-width, initial-scale=1.0')
        ->appendHttpEquiv('X-UA-Compatible', 'IE=edge')
    ?>

    <!-- Le styles -->
    <?php echo $this->headLink(array('rel' => 'shortcut icon', 'type' => 'image/vnd.microsoft.icon', 'href' => $this->basePath() . '/img/favicon.ico'))
        ->prependStylesheet($this->basePath('css/style.css'))
        ->prependStylesheet($this->basePath('css/bootstrap-theme.min.css'))
        ->prependStylesheet($this->basePath('css/bootstrap.min.css'))
        ->prependStylesheet($this->basePath('css/design.css')) ?>

    <!-- Scripts -->
    <?php echo $this->headScript()
        ->prependFile($this->basePath('js/bootstrap.min.js'))
        ->prependFile($this->basePath('js/jquery.min.js'))
        ->prependFile($this->basePath('js/respond.min.js'), 'text/javascript', array('conditional' => 'lt IE 9',))
        ->prependFile($this->basePath('js/html5shiv.js'), 'text/javascript', array('conditional' => 'lt IE 9',)); ?>

</head>
<body>
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <img src="<?php echo $this->basePath('img/1433349285_hand-pointer-cart-tablet.png')?>">
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Items <span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a
                                    href="<?php echo $this->url('product') ?>"><?php echo $this->translate('All items') ?></a></li>
                            <li><a
                                    href="<?php echo $this->url('product', array('action' => 'add'));?>"><?php echo $this->translate('Add item') ?></a></li>
                            <li><a
                                    href="<?php echo $this->url('product', array('action' => 'edit'));?>"><?php echo $this->translate('Edit item') ?></a></li>
                            <li><a
                                    href="<?php echo $this->url('product', array('action' => 'upload-form'));?>"><?php echo $this->translate('Upload image') ?></a></li>
                            <li><a
                                    href="<?php echo $this->url('product', array('action' => 'delete'));?>"><?php echo $this->translate('Delete') ?></a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Users <span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a
                                    href="<?php echo $this->url('user') ?>"><?php echo $this->translate('All users') ?></a></li>
                            <li><a
                                    href="<?php echo $this->url('user', array('action' => 'add'));?>"><?php echo $this->translate('Add user') ?></a></li>
                        </ul>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a><?php echo  $this->translate('You goods :');?>
                            <div class="basket"></div>
                        </a>
                    </li>
                    <li><a
                            href="<?php echo $this->url('product', array('action' => 'orders'));?>"><?php echo $this->translate('Orders') ?></a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right clearBasket">
                    <li><a href="#"> <?php echo $this->translate('Clear basket') ?> </a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a
                            href="<?php echo $this->url('reg')?>"><?php echo $this->translate('Registration') ?></a></li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>

<div class="container">
    <?php echo $this->content; ?>
    <hr>
    <footer class="navbar-fixed-bottom">
        <p>&copy; <?php echo date('Y') ?> Nix Solutions
            Ltd. <?php echo $this->translate('All rights reserved.') ?></p>
    </footer>
</div>
<script>
    $('.clearBasket').click(function(){

     $('.basket').empty();
        $.ajax({
            url: "product/clear-basket",
            type: "POST",
            success: function (data) {

                $('.basket').append(data);

            }
        });
    });
    $().ready(function(){
        $.ajax({
            url: "product/status-basket",
            type: "POST",
            success: function (data) {
                $('.basket').append(data);
            }
        });
    })
</script>
<!-- /container -->
<?php echo $this->inlineScript() ?>
</body>
</html>
