<div class="jumbotron">
    <h1><?php echo sprintf($this->translate('Welcome to %sCas Product%s'), '<span class="zf-green">', '</span>') ?></h1>
    <p><?php echo sprintf($this->translate('It\'s Product technic'))?></p>
    </div>